[submodule "third_party/tendermint"]
	path = third_party/tendermint
	url = https://github.com/tendermint/tendermint
[submodule "third_party/cosmos-sdk"]
	path = third_party/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk/
[submodule "axelar-core"]
	path = axelar-core
	url = https://github.com/axelarnetwork/axelar-core
